<div>
    <div class="header">
        <h2>Bienvenido {{username}}</h2>

        <form action="../auth/logout" method="post">
            <button id="logout" class="btnInverted">Cerrar sesion</button>
        </form>

        <form action="../products" method="get">
            <button  class="btnInverted">Productos</button>
        </form>
    </div>
    <h2>Todos los Productos Del Carrito</h2>
    
    <div class="productsContainer">
        {{#each productos}}
            <div class="card">
                <img src="/public/media/kennyProduct.png" alt="producto" height="150px">
                <div class="dataContainer">
                    <h3>{{this.pid.title}}</h3>
                    <div class="description">
                        <p>{{this.pid.description}}</p>
                        <p>Categoria: {{this.pid.category}}</p>
                        <p>Precio: {{this.pid.price}}</p>
                    </div>
                </div>
                <form action="../api/carts/{{cart}}/product/{{this._id}}" method="post">
                    <button type="submit">agragar al carrito</button>
                </form>
            </div>
        {{/each}}
    </div>

    {{!-- <form action="../api/payment" method="post"> --}}
        <button id="pago">pagar</button>
    {{!-- </form> --}}
    
    <div id="payForm"></div>

    {{#if hasPrevPage}}
        <a href="/products?page={{prevPage}}&&query={{query}}&&limit={{limit}}"><button>Anterior</button></a>
    {{/if}}
    <p>{{page}}</p>
    {{#if hasNextPage}}
        <a href="/products?page={{nextPage}}&&query={{query}}&&limit={{limit}}"><button>Siguiente</button></a>
    {{/if}}

    <script src="/public/js/payment.js"></script>
</div>